# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# dir
.idea/
build/
DebugConfig/
Listings
Objects

# files
EventRecorderStub.scvd
*.uvguix.*
*.uvoptx